<div id = "reply_<%= reply.id %>"  class="child-comment-container">
	
	<div class="child-comment-highlight"></div>

	<div class="comment-box">

		<div id="reply_user_image" style="float: left;">
			<% if reply.user.picture.present? %>
					<%= image_tag reply.user.picture.image.url, height: 25,width: 25 %>
			<% end %>
		</div>

		<div id = "content_div" style="float:left; margin-left: 16px;">
			
			<div style="overflow: hidden;">
			
				<div style="float: left;">
				  <strong><%= "#{reply.user.email.split("@")[0].capitalize }" %></strong>
				</div>

				<div class="comment-time">
					<%= calculate_time_from_created_at reply.created_at %>
				</div>

				<div class="child-comment-delete"> 
					<% if user_signed_in? and current_user.id == reply.user_id %>
				  		<%= form_for(reply,url: comments_destroy_reply_path(reply_id: reply.id), html: {method: :delete},remote: true) do |f| %>
				 			<%= f.submit "Destroy", type: :image, src: "/assets/ic_delete.png",width: 30,height: 30 %>
				 		<% end %>
				  	<% end %>
				</div>
			</div>

			<div> <%= reply.body %> </div>
		</div>
	</div>
</div>
<br>

