<!-- new_record check record for object exist or not  -->
<% if !comment.new_record? %>
	<div id = "comment_<%= comment.id %>" >
		<br>
		<div class = "panel panel-default">
			<div class="panel-body">
				<div>
					<%= comment.body %>
				</div>

				<div>
					<%= "by #{comment.user.email }" %>
				</div>

				<div style="font-size: 12px;">
					<%=  DateTime.parse(comment.created_at.to_s).strftime("%m/%d/%Y") %>
				</div>
				<p>
				 	<% if user_signed_in? and current_user.id == comment.user_id %>
				  		<%= form_for([comment.post, comment], html: {method: :delete},remote: true) do |f| %>
				 			<button type="submit" class="btn btn-raised btn-info">Destroy</button>
				 		<% end %>
				  	<% end %>
				</p>
			</div>
		</div>
	</div>
<% end %>

