<% if !comment.new_record? %>

	<div id = "comment_<%= comment.id %>" class="parent-comment-container" >

		<div class="parent-comment-highlight"></div>

		<div class="comment-box">
			
			<div style="float: left;">
				<% if comment.user.picture.present? %>
						<%= image_tag comment.user.picture.image.url, height: 30,width: 30 %>
				<% end %>
			</div>

			<div id = "content_div" style="float:left;margin-left: 16px;">
				
				<div id="name_div" style="overflow: hidden;">
					
					<div style="float: left;">
					  <strong><%= "#{comment.user.email.split("@")[0].capitalize }" %></strong>
					</div>
					
					<div class="comment-time">
					  <%= calculate_time_from_created_at comment.created_at %>
					</div>

					<div style="float: left; margin-left: 25px;height:25px;overflow: hidden;"> 
					    <% if user_signed_in? and current_user.id == comment.user_id %>
						    <div id = "reply_<%=comment.id%>" style="float: left;">
							 <%= link_to image_tag("/assets/ic_comment_reply.png",height:30,width:30),comments_new_reply_path(comment_id: comment.id),remote: true %>
							</div>
							
							<div style="float: left;">
								<%= form_for([comment.post, comment], html: {method: :delete},remote: true) do |f| %>
						  			<%= f.submit "Destroy", type: :image, src: "/assets/ic_delete.png",width: 30,height: 30 %>
						  	    <% end %>
						  	</div>
					  	<% end %>
					</div>
				</div>

				<div style="margin-bottom: 8px; font-size:15px;"> <%= comment.body %> </div>

				<div id= "reply_form_container_<%= comment.id %>"></div>

				<div id = "replies_container_<%= comment.id %>">
					<% comment.replies.each do |reply|%>
						<%= render template: "/comments/_comment_reply", locals: {reply: reply} %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<br>
<% end %>

