
<div style = "margin-left: 100px; margin-right: 80px;" >

	<div class = "title" style = " margin-top: 30px; font-size: 30px; line-height: 110%">
	  <strong><%= @post.title %></strong>
	</div>

	<div style="overflow: hidden;  margin-top: 16px; ">
	  
	  <div id ="author" style="overflow: hidden; float: left;">
	  	  <div style="float: left;">
		   <%= image_tag(@post_user_picture.image.url, height: 40,width: 40,style: "border-radius:50%") %>
		  </div>
		  <div style="float: left; margin-left: 8px;">
			  <div class="author"> <%= @post.name.split("@")[0].capitalize %> </div>
			  <div style="font-size: 11px; color: #757575"><%= calculate_time_from_created_at @post.created_at %></div> 
		  </div>
	  </div>

	  <div class="tag-container">
		  <% @post_tags.each do |tag|%>
		  	<div class= "tag-border">
		  	  <%=link_to "#{tag.name}",search_path(query: tag.name),method: :post,class: "link-decoration" %>
		  	</div>
		  <% end %>
	  </div>
	</div>  

	<% if @post_image.present? %>
		<div style="margin-left: 150px; margin-top: 50px;">
			<%= image_tag @post_image.image.url, height: 250,width: 700 %>
		</div>
	<%end  %>
	
	<p style ="font-size : 18px ;margin-top: 30px; ">
	  <%= @post.content.html_safe%>
	</p>

 	<div id="divider" style =" margin-right: 50px;"></div>
	

	<div id= "comment_form" style=" margin-top: 30px;">
		<h4>Add Comment</h4>
			<%= form_for([@post,@new_comment],remote: true,validate: true)  do |f| %>
				<div class = "body">
					<%= f.text_area :body,cols: "70",rows: "3",placeholder: "Write your view"%>
				</div>
				<div class = "button" style="margin-top: 20px;">
					<%= f.submit "Submit",class: "btn btn-raised btn-primary"%>
					<% if !user_signed_in? %>
						<div>Please login to comment
						 <%= link_to "Login", new_user_session_path %></div>
					<% end %>
				</div>
			<%end %>
	</div>
	
 	<div id="posts_comment_box">
		<%= render @comments %>
	</div>

	<div style="margin-top: 30px; margin-bottom: 50px;">
		<% if user_signed_in? and current_user.id == @post.user.id %>
		<%= link_to 'Edit', edit_post_path(@post)  %> |
		<% end %>
		<%= link_to 'Back', posts_path %>
	</div>

</div>

<script type="text/javascript">
	var user_signed = <%=user_signed_in? %>;

	$('#comment_form :input').prop('disabled', true);

	if(user_signed){
		$('#comment_form :input').prop('disabled', false);
	}
</script>