
  <style>
  .caret {
    border-color: transparent !important;
  }
  .open>.dropdown-menu {
    opacity: 1;
    position: absolute;
    left: 0;
    width: auto;
    padding-left: 8px;
  }
  .multiselect.dropdown-toggle.btn.btn-default {
    border-style: hidden;
  }
  </style>



<div style="margin-left: 100px; margin-right: 100px;">
  <%= form_for @post,html: { :multipart => true },validate: true do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group" style=" margin-top: 30px;">
      <%= f.label :title ,class: "bmd-label-floating"%><br />
      <%= f.text_field :title,class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :content %><br />
      <%= f.text_area :content , :class => "tinymce",cols: "120",rows: "10",placeholder: "Whats in your mind"%>
      <%= tinymce %>
    </div>

    <div class="form-group" style=" margin-top: 30px;">
      <%= f.fields_for :picture_attributes do |file|%>
        <%= file.file_field :image %>
      <% end %>
    </div>

    <div class="form-group" style="margin-top: 30px; border: 2px;">
        <%= f.select :tag_ids, @tag_options, { include_blank: false },{:multiple => true} %>
    </div>

    <div class="actions" style="margin-top: 20px;">
      <%= f.submit "Create Post", class: "btn btn-raised btn-primary"%>
    </div>

  <% end %>
</div>
<script type="text/javascript">

  $(document).ready(function(){
     $("#post_tag_ids").multiselect({
        nonSelectedText: "Choose Tags",
        enableClickableOptGroups: true
     });
  });
</script>